<% include ../partials/header.ejs %>
<div class="row">
    <div class="thumbnail">
        <img class="img-responsive" src="<%=user.avatar%>">
        <div class="caption">
            <h1><%= user.username %></h1>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>